<mat-card>
    <mat-action-list>
      <button routerLink = "'/'" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon> Inicio
      </button>
      <button mat-list-item routerLink = "/listUsuario">
        <mat-icon mat-list-icon>account_circle</mat-icon>Usuarios
      </button>
      <button mat-list-item routerLink = "/ticket">
        <mat-icon mat-list-icon>list</mat-icon>Ticket
      </button>
      <button mat-list-item routerLink = "/add-ticket">
        <mat-icon mat-list-icon>add_circle_outline</mat-icon>Agregar Ticket
      </button>
      <button mat-list-item routerLink = "/registrar">
        <mat-icon mat-list-icon>add</mat-icon>Registrar
      </button>
    </mat-action-list>
  </mat-card>